/* index.css */
.DigitRoll {
    font-size: 25px;
    color: white;
    border: none;
  }
  
  .DigitRoll__Cell {
    background: gray;
    margin: 0 3px;
    border: 1px solid brown;
  }
  
  .DigitRoll__Divider {
    font-size: 25px;
    color: black;
    padding: 0 6px;
  }